:root {
    --backBGLittleOpacity: rgba(0, 0, 0, 0.05);
    --backBGMoreOpacity: rgba(0, 0, 0, 0.1);
    --borderBox: 0 groove rgb(238, 238, 238);
    --redDeleteColor: invert(11%) sepia(80%) saturate(6573%) hue-rotate(10deg) brightness(91%) contrast(119%);
}

.flex-cont {
    display: flex;
    justify-content: space-around;
}
.center-align {
    display: flex;
    align-items: center;
}
/* ++++++++++++++++++++++++++++++ ICONS BUTTON ++++++++++++++++++++++++++*/
.null-game .delete-button .icon-img{
    filter: var(--redDeleteColor);
}
.null-game .icon-img{
    transition: 200ms all;
    border: 0;
    opacity: 0.5;
    padding: 0 1px;
}
.null-game .delete-button:hover .icon-img,
.null-game .icon-button:hover .icon-img
{
    transform: scale(1.1);
    opacity: 1;
}
/* ++++++++++++++++++++++++++++++ ACCORDION ++++++++++++++++++++++++++*/
.null-game .accordion-headers {
    border: var(--borderBox);
    border-width: 2px;
    background-color: var(--backBGLittleOpacity);
    padding: 2px;
    padding-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.null-game .accordion-headers .icon-img{
    transition: 500ms all;
    border: 0;
    height: 1.5em;
    max-width: fit-content;
    opacity: 0.5;
    display: flex;
}
.null-game .accordion-headers:hover {
    background-color: var(--backBGMoreOpacity)
}
.null-game .accordion-content {
    margin: 0 4px;
    max-height: 9em;
    overflow-y: auto;
    padding: 0 5px;
    background-color: var(--backBGMoreOpacity);
    overflow-wrap: break-word;
}
.null-game .accordion-content.hidden {
    display: none;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/*/
.null-game header.sheet-header {
    border: var(--borderBox);
    border-bottom-width: 2px;
    padding-bottom: 5px;
    align-items: stretch;
}

.null-game header.sheet-header .img-container .profile-img {
    margin: 0;
    border: 0;
    height: auto;
    flex: 2;
}

.null-game header.sheet-header .header-container {
    border: var(--borderBox);
    border-left-width: 2px;
    padding-left: 5px;
    margin-left: 5px;
}

.null-game header.sheet-header .header-container .first-header-container .header-input {
    border: 0;
    height: auto;
    background: var(--backBGLittleOpacity);
}

.null-game header.sheet-header .header-container .first-header-container .name-container {
    flex: 8;
}

.null-game header.sheet-header .header-container .first-header-container .name-container .header-input {
    font-size: xxx-large;
}

.null-game header.sheet-header .header-container .first-header-container .level-container {
    text-align: center;
    flex: 2;
}

.null-game header.sheet-header .header-container .first-header-container .level-container .header-input {
    font-size: xx-large;
}

.null-game header.sheet-header .header-container .second-header-container {
    border: var(--borderBox);
    border-width: 2px 0;
    padding: 2px 0;
    margin: 5px 0;
}

.null-game header.sheet-header .header-container .second-header-container .input-bordeless {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    padding: 0 5px;
}

.null-game header.sheet-header .header-container .second-header-container .input-bordeless:focus {
    box-shadow: none;
    background: var(--backBGLittleOpacity);
}

.null-game header.sheet-header .header-container .second-header-container .tb-header-secondTextBox {
    border: var(--borderBox);
    border-width: 0 2px;
}

.null-game header.sheet-header .header-container .second-header-container .select-header {
    border: var(--borderBox);
    border-right-width: 0 2px 0 0;
    background: 0;
    margin: 0 1px;
}

.null-game header.sheet-header .header-container .second-header-container .select-header:focus {
    box-shadow: none;
    background: var(--backBGLittleOpacity);
}

.null-game header.sheet-header .header-container .third-header-container {
    text-align: center;
    border: var(--borderBox);
    border-width: 2px 0;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container .bar-label-container {
    border: var(--borderBox);
    border-bottom-width: 2px;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container .bar-header-num {
    font-size: large;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container .slash-bar {
    opacity: 0.6;
    font-size: larger;
    font-weight: bold;
}

.null-game header.sheet-header .header-container .third-header-container .input-bordeless {
    background: 0;
    border: 0;
}

.null-game header.sheet-header .header-container .third-header-container .input-bordeless:focus {
    box-shadow: none;
    background: var(--backBGLittleOpacity);
}

.null-game.sheet nav.sheet-tabs {
    margin: 0;
    border: var(--borderBox);
    border-bottom-width: 2px;
}
.null-game.actor .category-header {
    align-items: center;
    border: var(--borderBox);
    border-width: 2px;
    background-color: var(--backBGLittleOpacity);
    padding: 2px;
}
.null-game.actor .category-header label{
    padding:  0 5px;
}
.null-game.actor .category-name {
    flex: 10;
    font-weight: bold;
}
.null-game.actor .tab.features .category-name .category-name-input {
    font-weight: bold;
    width: 95%;
    padding-left: 5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
.null-game .tab.features .category-name .category-name-input:focus {
    box-shadow: none;
    background-color: var(--backBGMoreOpacity);
}
.null-game.actor .tab.features .tool-section {
    display: flex;
    justify-content: flex-end;
}
.null-game.actor .tab.features .tool-section .tool-button,
.null-game.actor .tab.features .tool-section .create-category {
    font-size: small;
    padding: 0 2px;
    border: 0;
}
.null-game.actor .tab.features .tool-section .tool-button .span-button,
.null-game.actor .tab.features .tool-section .icon-button{
    font-size: small;
}
.null-game.actor .category-body {
    margin: 0 5px;
}
.null-game.actor .category-body .item-list-component {
    padding: 2px 4px;
}
.null-game.actor .category-body .item-list-component .icon-img{
    margin-left: -2px;
}
.null-game.actor .category-body .item-list-component .item-details {
    flex: 9;
    justify-content: flex-start;
    align-items: center;
}
.null-game.actor .category-body .item-list-component .item-details .item-detail-label {
    flex: 5;
}
.null-game.actor .category-body .item-list-component .item-details .item-image {
    margin-right: 5px;
}

.null-game.actor .category-body .item-list-component .item-controls {
    flex: 3;
    justify-content: flex-end;
}
.null-game.actor .category-body .item-list-component:hover {
    background-color: var(--backBGLittleOpacity);
}
.null-game.actor, .null-game.actor .tab.effects{
    padding: 5px 0;
}
.null-game.actor .skills-tab .create-skill-container{
    display: flex;
    justify-content: flex-end;
    margin: 5px 2px;
}
.null-game.actor .skills-tab .skill-conntainer .accordion-skill-container {
    flex: 8;
    max-width: 80%;
}
.null-game.actor .skills-tab .skill-conntainer .accordion-skill-container .accordion-headers {
    justify-content: space-between;
}
.null-game.actor .skills-tab .skill-conntainer .accordion-skill-container .accordion-headers .skill-name-span {
    margin: 0 2px;
}

.null-game.actor .skills-tab .skill-conntainer .skill-roll-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.null-game.actor .skills-tab .skill-conntainer .skill-roll-container .dice-container{
    font-size: x-large;
    font-weight: bold;
    margin-right: 4px;
}
.null-game.actor .skills-tab .skill-conntainer .skill-roll-container .mod-container{
    background: var(--backBGMoreOpacity);
    padding: 3px;
    font-size: large;
    font-weight: bold;
}
.null-game.actor .biography-editor-container{
    padding: 5px;
}
.null-game.actor .biography-editor-container,
.null-game.actor .biography-editor-container .editor,
.null-game.actor .biography-editor-container .prosemirror .editor-container {
    min-height: 12em;
}
.null-game.actor .tab.effects .category-header .item-controls{
    flex: 5;
    display: flex;
    justify-content: flex-end;
}
.null-game.actor .tab.effects .category-body .effect-counter {
    flex: 2;
}
.null-game.actor .tab.effects .category-body .effect-counter .effect-counter-input {
    text-align: center;
    border: 0;
    background: var(--backBGMoreOpacity);
    font-size: large;
}
/*++++++++++++++++++++++++++++++++++++ ITEM SHEET +++++++++++++++++++++++++++++++++++++++++++++++*/

.null-game.item .header-container {
    flex: 4;
}
.null-game.item .header-container .first-header-container .level-container{
    display:flex;
    flex-direction: column;
}
.null-game.item .header-container .first-header-container .level-container .label-level{
    font-size: 40px;
}
.null-game.item .second-header-container .second-header-box {
    flex: 1;
}
.null-game.item .second-header-container .select-category {
    border: 0;
    width: 100%;
    background-color: var(--backBGMoreOpacity);
}
.null-game.item .second-header-container .middle-border-container{
    border: var(--borderBox);
    border-width: 0 2px;
    margin: 0 5px;
    padding: 0 3px;
}
.null-game.item .second-header-container .ammo-checkbox-header,
.null-game.item .second-header-container .rolleable-checkbox-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.null-game.item .second-header-container .ammo-quantity-header,
.null-game.item .second-header-container .level-input-header,
.null-game.item .second-header-container .exp-input-header{ 
    justify-content: space-around;
    align-items: center;
}
.null-game.item .second-header-container .item-header-input {
    max-width: 60%;
    border: 0;
    background-color: var(--backBGMoreOpacity);
    text-align: center;
}
.null-game.item .description-tab .properties-container {
    border: var(--borderBox);
    padding: 0 5px;
    border-right-width: 2px;
    flex: 2;
}
/* ++++++++++++++++++++++++++++++ ACCORDION ITEM ++++++++++++++++++++++++++*/
.null-game.item .description-tab .accordion-container{
    flex: 6;
    height: 15em;
    padding: 2px 5px;
}
.null-game.item .description-tab .accordion-content{
    height: 100%;
}
.null-game.item .description-tab .accordion-container .accordion-content .editor{
    height: 100%;
}
.null-game.item .description-tab .accordion-container .accordion-content .editor .editor-container {
    min-height: -webkit-fill-available;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.null-game.item .details-tab .usage-container .label-usage,
.null-game.item .details-tab .attack-container .label-attack{
    flex: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.null-game.item .details-tab .usage-container .usage-inputs-container,
.null-game.item .details-tab .attack-container .attack-inputs-container{
    flex: 7;
}
.null-game.item .details-tab .input-box{
    flex: 1;
    height: 27px;
    border: 0;
    margin: 2px 5px;
    background-color: var(--backBGMoreOpacity);
    text-align: center;
}
.null-game.item .details-tab .usage-container .usage-inputs-container .unit-label{
    flex: 1;
}
.null-game.item .details-tab .attack-container .attack-inputs-container .attack-input-select{
    border: 0;
    background: var(--backBGMoreOpacity);
    width: 50%;
    text-align: center;
    margin: 2px 5px;
}
.null-game.item .details-tab .usage-container .usage-inputs-container .formula-container{
    padding: 3px 0;
}
.null-game.item .details-tab .usage-container .usage-inputs-container .formula-container:hover{
    background-color: var(--backBGLittleOpacity);
}
.null-game.item .details-tab .attack-container .add-button-container{
    display: flex;
    justify-content: flex-end;
}
.null-game.item .description-skill .editor{
    min-height: 150px;
}
/*++++++++++++++++++++++++++++++++++++ CHAT MESSAGE +++++++++++++++++++++++++++++++++++++++++++++++*/
.message-content .button-chat-container {
    margin: 5px 15px;
}
.message-content .button-chat-container .button-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--backBGLittleOpacity);
}
.message-content .button-chat-container .icon-img{
    border: 0;
    margin: 2px 4px;
}
/*++++++++++++++++++++++++++++++++++++ SETTING MENU +++++++++++++++++++++++++++++++++++++++++++++++*/

.null-game.ae-config header {
    border: var(--borderBox);
    border-bottom-width: 2px;
    margin: 4px 0px;
}
.null-game.ae-config .effect-item:hover {
    background-color: var(--backBGLittleOpacity);
}
.null-game.ae-config .effect-item .effect-img {
    border: 0;
    background-color: black;
    padding: 3px;
    margin: 2px 0;
    border-radius: 2px;
}
.null-game.ae-config .effect-item .input-text-effect {
    width: 42%;
}
.null-game.ae-config .effect-item .input-text-effect label {
    margin-right: 5px;
    font-weight: bold;
}
.null-game.ae-config .effect-item .input-text-effect input {
    border: 0;
    text-align: center;
    background-color: var(--backBGMoreOpacity);
}
