:root {
    --backBGLittleOpacity: rgba(0, 0, 0, 0.05);
    --backBGMoreOpacity: rgba(0, 0, 0, 0.1);
    --borderBox: 0 groove rgb(238, 238, 238);
    --redDeleteColor: invert(11%) sepia(80%) saturate(6573%) hue-rotate(10deg) brightness(91%) contrast(119%);
}

.flex-cont {
    display: flex;
    justify-content: space-around;
}
.center-align{
    display: flex;
    align-items: center;
}
/* ++++++++++++++++++++++++++++++ ICONS BUTTON ++++++++++++++++++++++++++*/
.null-game .delete-button .icon-img{
    filter: var(--redDeleteColor);
}
.null-game .icon-img{
    transition: 200ms all;
    border: 0;
    opacity: 0.5;
}
.null-game .delete-button:hover .icon-img,
.null-game .add-button:hover .icon-img,
.null-game .edit-button:hover .icon-img
{
    transform: scale(1.1);
    opacity: 1;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.null-game header.sheet-header {
    border: var(--borderBox);
    border-bottom-width: 2px;
    padding-bottom: 5px;
    align-items: stretch;
}

.null-game header.sheet-header .img-container .profile-img {
    margin: 0;
    border: 0;
    height: auto;
    flex: 2;
}

.null-game header.sheet-header .header-container {
    border: var(--borderBox);
    border-left-width: 2px;
    padding-left: 5px;
    margin-left: 5px;
}

.null-game header.sheet-header .header-container .first-header-container .header-input {
    border: 0;
    height: auto;
    background: var(--backBGLittleOpacity);
}

.null-game header.sheet-header .header-container .first-header-container .name-container {
    flex: 8;
}

.null-game header.sheet-header .header-container .first-header-container .name-container .header-input {
    font-size: xxx-large;
}

.null-game header.sheet-header .header-container .first-header-container .level-container {
    text-align: center;
    flex: 2;
}

.null-game header.sheet-header .header-container .first-header-container .level-container .header-input {
    font-size: xx-large;
}

.null-game header.sheet-header .header-container .second-header-container {
    border: var(--borderBox);
    border-width: 2px 0;
    padding: 2px 0;
    margin: 5px 0;
}

.null-game header.sheet-header .header-container .second-header-container .input-bordeless {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    padding: 0 5px;
}

.null-game header.sheet-header .header-container .second-header-container .input-bordeless:focus {
    box-shadow: none;
    background: var(--backBGLittleOpacity);
}

.null-game header.sheet-header .header-container .second-header-container .tb-header-secondTextBox {
    border: var(--borderBox);
    border-width: 0 2px;
}

.null-game header.sheet-header .header-container .second-header-container .select-header {
    border: var(--borderBox);
    border-right-width: 0 2px 0 0;
    background: 0;
    margin: 0 1px;
}

.null-game header.sheet-header .header-container .second-header-container .select-header:focus {
    box-shadow: none;
    background: var(--backBGLittleOpacity);
}

.null-game header.sheet-header .header-container .third-header-container {
    text-align: center;
    border: var(--borderBox);
    border-width: 2px 0;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container .bar-label-container {
    border: var(--borderBox);
    border-bottom-width: 2px;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container .bar-header-num {
    font-size: large;
}

.null-game header.sheet-header .header-container .third-header-container .bar-header-container .slash-bar {
    opacity: 0.6;
    font-size: larger;
    font-weight: bold;
}

.null-game header.sheet-header .header-container .third-header-container .input-bordeless {
    background: 0;
    border: 0;
}

.null-game header.sheet-header .header-container .third-header-container .input-bordeless:focus {
    box-shadow: none;
    background: var(--backBGLittleOpacity);
}

.null-game.sheet nav.sheet-tabs {
    margin: 0;
    border: var(--borderBox);
    border-bottom-width: 2px;
}
.null-game .tab.features .category-header {
    align-items: center;
    border: var(--borderBox);
    border-width: 2px;
    background-color: var(--backBGLittleOpacity);
    padding: 2px;
}
.null-game .tab.features .category-name {
    flex: 10;
    font-weight: bold;
}
.null-game .tab.features .category-name .category-name-input {
    font-weight: bold;
    width: 95%;
    padding-left: 5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
.null-game .tab.features .category-name .category-name-input:focus {
    box-shadow: none;
    background-color: var(--backBGMoreOpacity);
}
.null-game .tab.features .tool-section {
    display: flex;
    justify-content: flex-end;
}
.null-game .tab.features .tool-section .tool-button,
.null-game .tab.features .tool-section .create-category {
    font-size: small;
    padding: 0 2px;
    border: 0;
}
.null-game .tab.features .tool-section .tool-button .span-button,
.null-game .tab.features .tool-section .add-button{
    font-size: small;
}

.null-game .tab.features .category-body .item-list-component {
    padding: 0px 10px;
}
.null-game .tab.features .category-body .item-list-component .item-name {
    flex: 7;
    justify-content: flex-start;
    align-items: center;
}
.null-game .tab.features .category-body .item-list-component .item-name .item-image {
    margin-right: 5px;
}

.null-game .tab.features .category-body .item-list-component .item-controls {
    flex: 3;
    justify-content: flex-end;
}
.null-game .tab.features .category-body .item-list-component:hover {
    background-color: var(--backBGLittleOpacity);
}
.null-game .tab.features {
    padding: 5px;
}
.null-game.item .header-container {
    flex: 4;
}
.null-game.item .second-header-container .second-header-box {
    flex: 1;
}
.null-game.item .second-header-container .select-category {
    border: 0;
    width: 100%;
    background-color: var(--backBGMoreOpacity);
}
.null-game.item .second-header-container .ammo-checkbox-header {
    border: var(--borderBox);
    border-width: 0 2px;
    margin: 0 5px;
    padding: 0 3px;
    justify-content: center;
    align-items: center;
}
.null-game.item .second-header-container .ammo-quantity-header {
    justify-content: space-between;
    align-items: center;
}
.null-game.item .second-header-container .ammo-quantity-header .quantity-input {
    max-width: 80%;
    border: 0;
    background-color: var(--backBGMoreOpacity);
}
.null-game.item .description-tab .properties-container {
    border: var(--borderBox);
    padding: 0 5px;
    border-right-width: 2px;
    flex: 2;
}
/*
*
* START ACCORDION STYLE ITEM SHEET
*
*/
.null-game.item .description-tab .accordion-container{
    flex: 6;
    height: 15em;
    padding: 2px 5px;
}
.null-game.item .description-tab .accordion-container .accordion-headers{
    border: var(--borderBox);
    border-width: 2px;
    background-color: var(--backBGLittleOpacity);
    padding: 2px;
    padding-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
.null-game.item .description-tab .accordion-container .accordion-headers .icon-img{
    transition: 500ms all;
    border: 0;
    height: 1.5em;
    max-width: fit-content;
    opacity: 0.5;
    display: flex;
}
.null-game.item .description-tab .accordion-container .accordion-headers:hover {
    background-color: var(--backBGMoreOpacity)
}
.null-game.item .description-tab .accordion-container .accordion-content {
    min-height: 2.5em;
    max-height: 9em;
    overflow-y: auto;
    height: 100%;
    padding: 0 5px;
    background-color: var(--backBGMoreOpacity);
}
.null-game.item .description-tab .accordion-container .accordion-content.extended {
    display: none;
}
.null-game.item .description-tab .accordion-container .accordion-content .editor{
    height: 100%;
}
.null-game.item .description-tab .accordion-container .accordion-content .editor .editor-container {
    min-height: -webkit-fill-available;
}
/*
*
* END ACCORDION STYLE ITEM SHEET
*
*/
.null-game.item .details-tab .usage-container .label-usage,
.null-game.item .details-tab .attack-container .label-attack{
    flex: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.null-game.item .details-tab .usage-container .usage-inputs-container,
.null-game.item .details-tab .attack-container .attack-inputs-container{
    flex: 7;
}
.null-game.item .details-tab .input-box{
    flex: 1;
    height: 27px;
    border: 0;
    margin: 2px 5px;
    background-color: var(--backBGMoreOpacity);
    text-align: center;
}
.null-game.item .details-tab .usage-container .usage-inputs-container .unit-label{
    flex: 1;
}
.null-game.item .details-tab .attack-container .attack-inputs-container .attack-type-select{
    border: 0;
    background: var(--backBGMoreOpacity);
    width: 50%;
    text-align: center;
    margin: 0 5px;
}
.null-game.item .details-tab .usage-container .usage-inputs-container .formula-container{
    padding: 3px 0;
}
.null-game.item .details-tab .usage-container .usage-inputs-container .formula-container:hover{
    background-color: var(--backBGLittleOpacity);
}
.null-game.item .details-tab .attack-container .add-button-container{
    display: flex;
    justify-content: flex-end;
}
/*******************************************************************************/