<div class="description-container">
    {{{descriptionContent}}}
</div>
<div class="roll-damage-container">
    <button class="roll-damage-chat">Click Me!</button>
    {{log @this}}
</div>
<div class="rolls-container">
    {{{rollsContent}}}
</div>